<div class="col-sm-8 col-sm-offset-2 text-center">

						<h3><perch:content id="line1" type="textarea" label="Landing Line 1" required="true" markdown="true" editor="simplemde"/></h3>
						<h3><perch:content id="line2" type="textarea" label="Landing Line 2" required="true" markdown="true" editor="simplemde"/></h3>


						<a href="home.php" class="btn btn-primary-outline" role="button"><perch:content id="Button" type="textarea" label="Landing Button Text" required="true" markdown="true" editor="simplemde"/></a>


	</div>
