

<div class="chef-thumb">
										<img src="<perch:content id="image" type="image" label="Person 3 Image" crop="true"/>" class="img-responsive">

									</div>
									<!--chef thumb-->
									<div class="chef-desc">
										<h4> <perch:content id="name" type="textarea" label="S11 Person 3 Name" required="true"/></h4>
										<em>  <perch:content id="position" type="textarea" label="S11 Person 3 Position" required="true"/></em>
										<p>
											 <perch:content id="email" type="textarea" label="S11 Person 3 email" required="false" markdown="true"/>
										</p>
									</div>
