<div class="panel-heading btn-yellow">
						<h4 class="panel-title text-center" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3" href="#collapse3">
							<a class="FAQ-title"><perch:content id="Heading" type="smarttext" label="S4 Collapse 3 Header" required="true"  markdown="true"/></a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse FAQ-body">
						<div class="panel-body text-center">
							<p><perch:content id="Content" type="textarea" label="S4 Collapse 3 Content" required="true"  markdown="true" editor="simplemde"/></p>
						</div>
					</div>
